<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="partas-local" value="feed" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="partas-local">
      <package pattern="Partas.Solid" />
      <package pattern="Partas.Solid.FablePlugin" />
      <package pattern="Partas.Nacara.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
